# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# =========================
# Node.js / React
# =========================
node_modules/
dist/
.vite/

# =========================
# Testing
# =========================
coverage/

# =========================
# Misc
# =========================
*.sqlite3